.vscode/
build/
__pycache__
sh.exe.stackdump

stdafx.h.pch
stdafx.h.gch

#*
#!*.c
#!*.h
#!*.cpp
#!*.hpp
#!*.txt
#!*.md
#!*.rdm
#!*.dat
#!*.py
#!*.pyw
#!*.sh
#!*.json
#!*.xml
#!*readme*
#!*README*
#!*Readme*
#!Makefile
#!makefile
