@font-face
{
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?25795979');
    src: url('../fonts/fontello.eot?25795979#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?25795979') format('woff'),
       url('../fonts/fontello.ttf?25795979') format('truetype'),
       url('../fonts/fontello.svg?25795979#entypo') format('svg');
}
 
[class$="icon-tt"]:before, [class*="icon-tt "]:before
 {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #73879C;
}
 
.mobileicon-tt:before { content: '\e800'; }
.mail-1icon-tt:before { content: '\e801'; }
.searchicon-tt:before { content: '\e802'; }
.location-1icon-tt:before { content: '\e803'; }
.lampicon-tt:before { content: '\e804'; }
.hearticon-tt:before { content: '\e805'; }
.staricon-tt:before { content: '\e806'; }
.twittericon-tt:before { content: '\f099'; }
.facebookicon-tt:before { content: '\f09a'; }
.gplus-1icon-tt:before { content: '\f0d5'; }
.dribbbleicon-tt:before { content: '\f17d'; }
.behanceicon-tt:before { content: '\f1b4'; }
.pinteresticon-tt:before { content: '\f231'; }
.facebook-1icon-tt:before { content: '\f30c'; }
.gplusicon-tt:before { content: '\f30f'; }
